doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Set your Magic Mirror alarm clock
  body
    .header
      h1.page-title MMM-AlarmClock setter

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News

    .main-content
      block content

    .footer
      p Copyright © 2018 Axelle Jamous 
